.eventphotos-content-container {
    width: 1000px;
    margin-left: 16rem;
    margin-top: 100px;
}

.eventphotos-h1 {
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2em;
    letter-spacing: -0.4;
    padding-top: 10px;
    margin-top: 30px;
    padding-bottom: 6px;
    margin-bottom: 6px;
}

.eventphotos-event-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 30px;
}

.enlarged-img {
    border-radius: 5px;
}

#modal-content {
    /* width: 550px;
    height: 550px; */
    padding: 0px;
    margin: 0px;
}

#modal-content>#enlarged-photo-modal {
    background-color: transparent;
    height: 550px;
    padding: 0px;
    margin: 0px;
}

.eventphotos-event-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.342);
    cursor: pointer;
    margin-top: 5px;
}

.eventphotos-info-div {
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.eventphotos-rating-div {
    display: flex;
}


.eventphotos-info-name {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    transition: all 150ms ease-in-out;
}

.eventphotos-info-name:hover {
    color: red;
    text-decoration: none;
}

.eventphotos-info-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.eventphotos-reviews-ct {
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #666;
    padding-left: 5px;
}

.eventphotos-event-photo {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.eventphotos-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
}

.eventphotos-images-img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    margin-top: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.eventphotos-add-btn {
    border: 1px solid #d32323;
    background-color: #d32323;
    width: 40px;
    line-height: 1.3em;
    font-size: 14px;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 8px;
    padding-bottom: 9px;
    width: auto;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 600;
    transition: all 0.6s;
}

.eventphotos-add-btn:hover {
    cursor: pointer;
    background-color: #fd2e2e;
}

.uploadpg-imgs-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.upload-pg-img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.uploadpg-img-delete-div {
    position: relative;
}

.uploadpg-delete-pic-btn {
    border: none;
    background-color: transparent;
    color: #333;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    cursor: pointer;
}

.event-detail-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 75px;
    /* margin-right: 50vw; */
}

.detail-edit-button-style {
    font-weight: 800;
    font-size: 14px;
    height: 36px;
    margin-top: 10px;
    margin-right: 16px;
    width: 90px;
}

.detail-delete-button-style {
    font-weight: 800;
    font-size: 14px;
    height: 36px;
    width: 90px;
    margin-top: 10px;
}

.detail-body-outer-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-body-middle-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-body-innermost-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 408px;
    justify-content: center;
    align-items: flex-start;
}

.event-start-date-div {
    font-weight: 550;
    margin-left: 12px;
    margin-top: 6px;
    border-bottom: 1px solid gray;
}

.event-start-time-div {
    font-weight: 550;
    margin-left: 12px;
    margin-top: 6px;
    border-bottom: 1px solid gray;
}

.event-date-label {
    color: darkgray;
}

.event-time-label {
    color: darkgray;
}

.image-header-content-block {
    position: relative;
    width: 100%;
    max-width: 100%;
    flex: 1 auto;
    z-index: 3;
}

.image-header-block {
    background: linear-gradient(to top, black, transparent);
    z-index: 6;
    width: 100vw;
}



.event-detail-image-wrapper {
    height: 33vh;
    max-height: 33vh;
    min-height: 292px;
    width: 100%;
    max-width: 100%;
    margin-top: 100px;
    color: black;
    overflow-x: hidden;
    z-index: 5;
}

.event-detail-img {
    border: none;
    width: 426px;
    max-width: 426px;
    overflow-x: hidden;
    height: 426px;
    backface-visibility: visible;
    min-height: 426px;
    width: 100%;
    opacity: 60%;
    color: rgb(219, 142, 0);
}

.ev-img {
    width: 400px;
    height: 100%;

    min-height: 292px;
    background-size: cover;
}

.ev-img-container {
    background-position: center center;
}

.images-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    overflow-y: hidden !important;
}

.event-detail-name-div {
    display: flex;
    text-transform: capitalize;
    word-break: break-word;
    justify-content: center;
    align-items: center;
    /* margin-left: -20vw; */
    max-width: 400px;
    /* min-width: max-content; */
    font-size: 36px;
    letter-spacing: -0.4px;
    text-shadow: 5px black;
    width: 400px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    z-index: 3;
}

.event-detail-name-div:first-letter {
    text-transform: capitalize;
}

.event-detail-entertainment-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    letter-spacing: -0.4px;
    font-size: 16px;
    text-shadow: 5px black;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.event-detail-type-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    min-width: max-content;
    margin-right: 12px;
    letter-spacing: -0.4px;
    text-shadow: 5px black;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.event-rsvp-buttons {
    /* margin-left: 15%; */
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 8px;
}

.bottom-whitespace-div {
    margin-bottom: 12%;
}

.detail-review-div {
    width: 100%;
    max-width: 482px;
    margin-top: 24px;
    padding-left: 8px;
}



.rsvp-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: auto;
    margin-right: 100%; */
}

.overall-rating-stars {
    width: 300px;
    display: flex;
    justify-content: center;
}

.overlay-content-on-image {
    display: flex;
    /* max-width: 100%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-height: 292px;
    min-height: 192px;
    letter-spacing: -0.4px;
    font-size: 16px;
    text-shadow: 5px black;
    overflow-x: hidden;
    width: 100vw;
    font-weight: 700;
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.531), transparent); */
    top: 86px;
    z-index: 3;
}

.event-detail-total-reviews-div {
    color: white;
    width: fit-content;
    margin-right: 1rem;
    padding-left: 15px;
}

.event-detail-rating-reviews-content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    /* align-items: center; */
}

svg {
    transition: all 80ms ease;
}

.header-content-wrapper {
    width: 100vw;
    position: relative;
    width: 100vw;
    z-index: 0;
    height: 292px;
    margin-top: 100px
}

.see-all-photos-btn {
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.367);
    height: auto;
    width: max-content;
    font-size: 12px;
    font-family: 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 12px;
    padding-right: 30px;
    padding-left: 32px;
    padding-bottom: 12px;
    position: absolute;
    z-index: 20;
    top: 50px;
    right: 12%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.6s;
}

.event-description-div {
    font-weight: 600;
    padding: 10px;
    font-size: 20px;
    max-width: 600px;
    margin-top: 8px;
    word-break: break-word;
    text-overflow: clip;
    line-height: 24px;
}

.detail-rsvp-button {
    font-size: 14px !important;
    height: 35px;
    width: 110px;
    max-width: 50vw;
}

.session-links-div {
    max-width: 100vw;
}

.details-label {
    color: darkgray;
    text-decoration: underline;
}

.event-description-div::first-letter {
    text-transform: capitalize;
}

.detail-button-wrapper {
    display: flex;
    margin-top: 8px;
    justify-content: center;
}

.star-chart-inner-div {
    display: flex;
    margin-bottom: 10px;
}

.overlay-details {
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
}

@media screen and (max-width:540px) {
    .event-detail-image-wrapper {
        height: 45vh;
    }

    .overlay-details {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 80vw;
    }

    .star-chart-inner-div {
        justify-content: center;
    }



    .event-detail-name-div {
        /* font-size: 10vw; */
        justify-content: center;
        margin-right: 0px;
        margin-left: 0px;
        /* margin-left: 130%; */
    }

    .event-detail-total-reviews-div {
        font-size: 1rem;
    }

    .session-links-div {
        max-width: 100vw;
    }
}
