.event-detail-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-header-content-block {
    position: relative;

    flex: 1 auto;
    z-index: 3;
}

.image-header-block {
    background: linear-gradient(to top, black, transparent);
    z-index: 6;
}

.event-detail-image-wrapper {
    height: 426px;

    margin-top: 100px;
    color: black;
    z-index: 5;
}

.event-detail-img {

    height: 426px;
    backface-visibility: visible;
    min-height: 426px;
    width: 100%;
    opacity: 60%;
    color: rgb(219, 142, 0);
}

.event-detail-name-div {
    display: flex;
    justify-content: flex-start;
    margin-left: 300px;
    font-size: 36px;
    letter-spacing: -0.4px;
    text-shadow: 5px black;
    width: 700px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    z-index: 3;
}

.event-detail-name-div:first-letter {
    text-transform: capitalize;
}

.event-detail-entertainment-div {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.4px;
    font-size: 16px;
    text-shadow: 5px black;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.event-detail-type-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    min-width: max-content;
    margin-right: 6px;
    letter-spacing: -0.4px;
    text-shadow: 5px black;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.event-rsvp-buttons {
    /* margin-left: 15%; */
    margin-top: 10px;
    margin-left: 16px;
}

.overall-rating-stars {
    width: 300px;
    display: flex;
    justify-content: center;
}

.overlay-content-on-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 22vh;
    letter-spacing: -0.4px;
    font-size: 16px;
    text-shadow: 5px black;
    overflow-x: hidden;
    width: 100vw;
    font-weight: 700;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.194), transparent);
    top: 226px;
    z-index: 3;
}

.event-detail-total-reviews-div {
    color: white;
    width: 90px;
    padding-left: 15px;
}

.event-detail-rating-reviews-content-div {
    display: flex;
    flex-direction: column;
}

svg {
    transition: all 80ms ease;
}

.header-content-wrapper {


    position: relative;
    width: 100vw;
    z-index: 0;
    height: 45vh;
    margin-top: 100px
}

.event-description-div {
    font-weight: 600;
}

.event-description-div::first-letter {
    text-transform: capitalize;
}

.overlay-details {
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
}

@media screen and (max-width:540px) {
    .event-detail-image-wrapper {
        height: 45vh;
    }

    .overlay-details {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 80vw;
    }

    .star-chart-inner-div {
        justify-content: center;
    }



    .event-detail-name-div {
        /* font-size: 10vw; */
        justify-content: center;
        margin-right: 0px;
        margin-left: 0px;
        /* margin-left: 130%; */
    }

    .event-detail-total-reviews-div {
        font-size: 1rem;
    }
}
