/* TODO Add site wide styles */

html {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

input {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 14px;
  min-width: 280px;
  width: 20vw;
  height: 22px;
  margin-bottom: 9px;
  border: 1px solid #999;
}


select {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 14px;
  min-width: 300px;
  width: 21.3vw;
  height: 36px;
  margin-bottom: 9px;
}


body {
  transition: all 150ms;
  padding: 0px;
  margin: 0px;
}
