.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  min-width: 200px !important;
  width: 200px !important;
  max-width: 200px !important;
}


.css-ahj2mt-MuiTypography-root {
  font-weight: 800 !important;
}
