#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  z-index: 7;
}

#modal-content {
  border: 1px solid gray;
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  z-index: 7;
  margin-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
